git+https://github.com/ubccr/coldfront@7dc4391c0cb54ec85ff82a0199ff0461454d5fb0#egg=coldfront
git+https://github.com/nerc-project/coldfront-plugin-openstack@e6c1ace46de1e76aa992f831a8fecb4398c06ff6#egg=coldfront_plugin_openstack
git+https://github.com/nerc-project/coldfront-plugin-keycloak@0dd8e0ae65211d2f145abfd8d1402efe96562d29#egg=coldfront_plugin_keycloak_usersearch
mysqlclient
psycopg2 >= 2.8, < 2.9
mozilla-django-oidc
gunicorn
